.leftBar {
  background-color: black;
  position: fixed;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 6em;
  & .iconsbar {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    & a{
    & .icons {
      width: 100%;
      height: 110%;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      & img {
        width: 100%;
        height: 80%;
      }
    }
}
  }
  & .copyright {
    position: absolute;
    left: -3rem;
    bottom: 10%;
    width: 200px;
    margin: 0;
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    font-size: 0.5em;
  }
}
