.topBar{
    background-color: black;
    height: 6%;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    & .logo{
        margin-left: 10%;
        margin-top: 3%;
        width: 60%;
    }
    & .menu{
        width: 65%;
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 4%;
        margin-top: 0;
        margin-bottom: 0;
        & a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            & p{
                margin: 0;
            }
        }
    }
}