.lineChartContainer {
  position: relative;
  width: 22vw;
  height: 19vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ff0000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  & h2 {
    position: absolute;
    font-weight: 500;
    font-size: 1.4vw;
    padding: 1vw 1vw 0 1vw;
    color: rgba(255, 255, 255, 0.7);
  }
  & .recharts-tooltip-wrapper {
    background-color: white;
    padding: 1vw;
  }
}
