.userPage {
  width: 100%;
  position: relative;
  display: flex;
  margin: 8% 0 0 8em;

  & #globalStatsContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
    & #userActivity {
        width: 70%;
    }
    & #bottomStatsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      & #userAverageSessions {
      }
      & #userPerformance {
      }
      & #userScore {
      }
    }
  }
  & #cardContainer {
      width: 20%;
  }
}

.recharts-wrapper{
    position: absolute
}